<web-app xmlns="http://java.sun.com/xml/ns/javaee" metadata-complete="true" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">


<servlet>
  <servlet-name>rony</servlet-name>
  <servlet-class>com.ws.rony.PhoneBook</servlet-class>
</servlet>

<servlet-mapping>
		<servlet-name>rony</servlet-name>
		<url-pattern>/rony/*</url-pattern>
</servlet-mapping> 
<resource-ref>
      <description>DB Connection</description>
      <res-ref-name>jdbc/PhoneBook</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Container</res-auth>
  </resource-ref>

</web-app>